* {
    margin: 0;
    padding: 0;
}
    
/* body {
    background: url(https://www.figma.com/file/Kx0K0vXmpKyYB3lNrkbIvu/Solo-Proj-layout?node-id=4%3A101);
}  */

.modal {
    background-color: blanchedalmond;
}
.welcome {
    text-align: center;
    padding: 5px;
    color: red;
    width: 100%;
}
