body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

hr {
    width: 90%;
}

.welcome {
    text-align: center;
    padding: 5px;
    color: red;
    width: 100%;
}

.landing-text {
    text-align: center;
    margin: 15px;
}

.button-purple {
    background: #B592FF;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    color: white;
    font-size: 23px;
    text-align: center;
    line-height: 10px;
}

/* modal */
.modal {
    width: 300px;
    height: 300px;
    margin: 200px auto;
    padding: 15px;
    border: 1px gray solid;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 4px 4px 300px rgba(0, 0, 0, 0.35);
}
.modal div {
    margin: 10px auto;
    text-align: center;
}

.modal button {
    margin-left: 110px;
    margin-top: 15px;
    width: 80px;
    height: 35px;
    border: none;
    background-color: rgba(200, 69, 69, 0.5);
}

.flight-card {
    background: rgba(228, 214, 214, 0.5);
    box-shadow: 0px 4px 3px -1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    height: 120px;
    width: 330px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 5px;
    font-size: 16px;
    line-height: 70%;
    padding-left: 10px;
}